@model Banking.TechnicalAssignment.Web.Core.Domain.AccountTransactionViewModel

@using Banking.TechnicalAssignment.Web.Core.Domain

@{
    ViewData["Title"] = "Transaction";
}

<form asp-controller="Transaction" asp-action="AddTransaction" method="post">
    <div class="form-group">
        <label asp-for="Amount"></label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="AccountId" />

    <button type="submit" class="btn btn-primary">Save</button>
</form>
