@model Banking.TechnicalAssignment.Web.Core.Domain.AccountViewModel

@using Banking.TechnicalAssignment.Web.Core.Domain

@{
    ViewData["Title"] = "Accounts";
}

<form asp-controller="Account" asp-action="AddAccount" method="post">    
    <div class="form-group">
        <label asp-for="Balance"></label>
        <input asp-for="Balance" class="form-control" />
        <span asp-validation-for="Balance" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="CustomerId" />
        
    <button type="submit" class="btn btn-primary">Save</button>
</form>
