@model Banking.TechnicalAssignment.Web.Core.Domain.CustomerViewModel

@using Banking.TechnicalAssignment.Web.Core.Domain

@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Customer" asp-action="AddCustomer" method="post">    
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Surname"></label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Save</button>
</form>
